# Jellyfin
# more info: https://jellyfin.org/docs/general/installation/container
# Optional - alternative address used for autodiscovery
JELLYFIN_PublishedServerUrl=https://jellyfin.dj-eme.ca

# Seerr
# more info: https://docs.seerr.dev/getting-started/docker
LOG_LEVEL=debug
TZ=America/Halifax
PORT=5055 #optional